* {
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    /*COLORS*/
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#ebc176;
    --light-pink-color:#f7e8ec;
    --medium-gray-color:#ccc;
}

.navigatorBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;

    background-color: var(--primary-color);
    color: var(--white-color);
}

.navigatorBar h1 {
    font-size: 2rem;
}

.navigatorBar ul {
    display: flex;
    list-style: none;

    font-size: 1.25rem;
}

.navigatorBar ul li {
    padding: 0.25rem 1.25rem;
    transition: background-color 400ms;
    border-radius: 2rem;
    cursor: pointer;
}

.navigatorBar ul li:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}