@import url(global.css);

body {
    background-color: var(--light-pink-color);
}





.bookingSection {
    display: flex;
    justify-content: center;
}

.bookingCard {
    background-color: var(--white-color);

    display: flex;
    flex-direction: column;
    min-width: 50%;
    border-radius: 1rem;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));

    padding: 0.5rem 3rem;
    margin-top: 5vh;
}

.bookingCard form {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    width: 100%;
}

.bookingCard form input[type="text"],
.bookingCard form input[type="date"],
.bookingCard form select {
    padding: 0.75rem 1rem;

    border: 1px solid #dcdcdc;
    border-radius: 0.75rem;

    font-size: 0.75rem;
    font-family: inherit;
}

.bookingCard form select option {
    padding: 0.75rem 1rem;

    border: 1px solid #dcdcdc;
    border-radius: 0.75rem;

    width: 100%;

    font-size: 0.75rem;
    font-family: inherit;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bookingCard form input[type="submit"] {
    background-color: var(--secondary-color);
    cursor: pointer;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;

    font-size: 1rem;
    font-family: inherit;

    transition: all 300ms;
}





.hContainer {
    display: flex;
    width: 100%;
    gap: 0.25rem;
    box-sizing: border-box;
}

.hContainer * {
    flex: 1 0 auto;
    box-sizing: border-box;
}





.bookingTableSection {
    display: flex;
    justify-content: center;
}

.bookingTableCard {
    background-color: var(--white-color);

    display: flex;
    flex-direction: column;
    min-width: 95%;
    border-radius: 1rem;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));

    padding: 0.5rem 3rem;
    margin: 5vh;
}

.bookingTableCard table {
    border: 1px black solid;
    border-radius: 1rem;
    padding: 1rem;
}

.bookingTableCard table tr th,
.bookingTableCard table tr td {
    text-align: center;
    /* border: 1px red solid; */
}

.bookingTableCard table tr th {
    background-color: var(--medium-gray-color);
    padding: 1rem;
}

.bookingTableCard table tr td {
    padding: 1rem;
}