* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    /*COLORS*/
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#ebc176;
    --light-pink-color:#f7e8ec;
    --medium-gray-color:#ccc;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}