* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    /*COLORS*/
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#ebc176;
    --light-pink-color:#f7e8ec;
    --medium-gray-color:#ccc;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}





.navigatorBar {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;

    background-color: var(--primary-color);
    color: var(--white-color);
}

.navigatorBar a {
    text-decoration: inherit;
    color: inherit;
}

.navigatorBar h1 {
    font-size: 2rem;
}

.navigatorBar ul {
    display: flex;
    list-style: none;

    font-size: 1.25rem;
}

.navigatorBar ul li {
    padding: 0.25rem 1.25rem;
    border-radius: 2rem;
    cursor: pointer;
    
    transition: all 300ms;
}

.navigatorBar ul li:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}