@import url(global.css);

.primaryButton {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 1rem 2rem;
    cursor: pointer;

    border: 0;
    border-radius: 2rem;

    font-size: 1rem;

    transition: all 300ms;
}
.primaryButton:hover {
    scale: 1.1;
}

.secondaryButton {
    background-color: var(--dark-color);
    color: var(--light-pink-color);
    padding: 1rem 2rem;
    cursor: pointer;

    border: 0;
    border-radius: 2rem;

    font-size: 1rem;

    transition: all 300ms;
}
.secondaryButton:hover {
    scale: 1.1;
}





.header-text {
    margin-bottom: 5rem;
}





.heroSection {
    background-color: var(--light-pink-color);
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7vw;
}

.heroSection div {
    width: 50%;
}

.heroSection h2 {
    color: var(--secondary-color);
    margin: 0;
    margin-bottom: .25rem;

    font-size: 2rem;
}

.heroSection h3 {
    color: var(--dark-color);
    margin: 0;

    font-size: 2.25rem;
    font-weight: 700;
}





.aboutUsSection {
    background-color: var(--medium-gray-color);
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 7vw;
}

.aboutUsSection div {
    width: 50%;
}





.servicesSection {
    background-color: var(--dark-color);
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2rem 7vw;

    color: var(--white-color);
}

.servicesSection h1 {
    text-align: center;
}

.servicesSection .servicesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.servicesSection .servicesContainer .serviceCard {
    flex: 1 1 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    /* border: 1px red solid; */
}

.servicesSection .servicesContainer .serviceCard * {
    margin: 0;
    margin-bottom: 0.5rem;
}

.servicesSection .servicesContainer .serviceCard img {
    min-width: 300px;
    min-height: 300px;

    border: 1px white solid;
}





.staffSection {
    background-color: var(--light-color);
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 7vw;

    color: var(--dark-color);
}

.staffSection .staffCarousel {
    display: flex;
    gap: 2rem;

    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* scroll-marker-group: after; This doesnt work for some reason */
    anchor-name: --staff-carousel;

    padding-bottom: 2rem;
}

.staffSection .staffCarousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem
}

.staffSection .staffCarousel::-webkit-scrollbar {
    display: none;
}

.staffSection .staffCarousel::scroll-button(left) {
    content: "◀";
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;

    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
    
    position: fixed;
    position-anchor: --staff-carousel;
    position-area: left center;
}

.staffSection .staffCarousel::scroll-button(right) {
    content: "▶";
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;

    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;

    position: fixed;
    position-anchor: --staff-carousel;
    position-area: right center;
}

.staffSection .staffCarousel .staffCard {
    flex: 0 0 300px;
    text-align: center;

    padding: 1rem;

    scroll-snap-align: start;
}

.staffSection .staffCarousel .staffCard::scroll-marker {
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: var(--dark-color);
    border-radius: 50%;
}

.staffSection .staffCarousel .staffCard img {
    border: 1px var(--dark-color) solid;
    min-width: 250px;
    min-height: 300px;
}
    




.reviewsSection {
    background-color: var(--medium-gray-color);
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 7vw;

    color: var(--dark-color);
}

.reviewsSection .reviewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.reviewsSection .reviewContainer .reviewCard {
    flex: 0 0 400px;

    background-color: var(--white-color);

    padding: 1rem;
    border-radius: 1rem;
}

.reviewsSection .reviewContainer .reviewCard .reviewMessage {
    font-style: italic;
    font-size: 1rem;
    margin: 0;
}

.reviewsSection .reviewContainer .reviewCard .reviewSender {
    font-size: 0.75rem;
    margin: 0;
}





.contactSection {
    background-color: var(--light-pink-color);
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 7vw;
    color: var(--dark-color);
}

.contactSection .contactContainer {
    display: flex;
    width: 100%;
    gap: 1rem;

    /* border: 1px red solid; */
}

.contactSection .contactContainer .contactInfo,
.contactSection .contactContainer .contactForm {
    flex: 1 1 auto;
    /* border: 1px blue solid; */
}

.contactSection .contactContainer .contactInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactSection .contactContainer .contactInfo ul li {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1rem;
}

.contactSection .contactContainer .contactInfo ul li * {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

.contactSection .contactContainer .contactForm {
    display: flex;
    justify-content: center;
}

.contactSection .contactContainer .contactForm .contactCard {
    background-color: var(--white-color);

    max-width: 80%;
    padding: 2rem 2rem;
    border-radius: 1rem;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactSection .contactContainer .contactForm .contactCard label {
    font-size: 1.25rem;
    font-weight: 700;
}

.contactSection .contactContainer .contactForm .contactCard input[type="text"],
.contactSection .contactContainer .contactForm .contactCard input[type="email"],
.contactSection .contactContainer .contactForm .contactCard textarea {
    padding: 0.75rem 1rem;

    border: 1px solid #dcdcdc;
    border-radius: 0.75rem;

    font-size: 0.75rem;
    font-family: inherit;
}

.contactSection .contactContainer .contactForm .contactCard textarea {
    resize: vertical;
    height: 10rem;
}

.contactSection .contactContainer .contactForm .contactCard input[type="submit"] {
    background-color: var(--secondary-color);
    cursor: pointer;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;

    font-size: 1rem;
    font-family: inherit;

    transition: all 300ms;
}

.contactSection .contactContainer .contactForm .contactCard input[type="submit"]:hover {
    scale: 1.02;
}