@import url(global.css);

.navigatorBar {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;

    background-color: var(--primary-color);
    color: var(--white-color);
}

.navigatorBar a {
    text-decoration: inherit;
    color: inherit;
}

.navigatorBar h1 {
    font-size: 2rem;
}

.navigatorBar ul {
    display: flex;
    list-style: none;

    font-size: 1.25rem;
}

.navigatorBar ul li {
    padding: 0.25rem 1.25rem;
    border-radius: 2rem;
    cursor: pointer;
    
    transition: all 300ms;
}

.navigatorBar ul li:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

body {
    background-color: var(--light-pink-color);
}

.loginSection {
    display: flex;
    justify-content: center;
}

.loginCard {
    background-color: var(--white-color);

    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 1rem;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));

    padding: 2rem;
    margin-top: 15vh;
}

.loginCard form {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    width: 100%;
}

.loginCard form input[type="text"],
.loginCard form input[type="password"] {
    padding: 0.75rem 1rem;

    border: 1px solid #dcdcdc;
    border-radius: 0.75rem;

    font-size: 0.75rem;
    font-family: inherit;
}

.loginCard form input[type="submit"] {
    background-color: var(--secondary-color);
    cursor: pointer;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;

    font-size: 1rem;
    font-family: inherit;

    transition: all 300ms;
}





.nameContainer {
    display: block;
}





.loginLink {
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;

    font-size: 1rem;

    transition: all 300ms;
}

.loginLink:hover {
    scale: 1.1;
}





.errorMessage {
    font-size: 1rem;
    color: rgb(228, 62, 62);

    text-align: center;

    padding: 0;
    margin: 0;
    margin-top: 1rem;
}